<body>
    <div class="container">
        <div class="movie-card" *ngFor="let ticke of ticket">
            <div class="movie-header bladeRunner2049">
                <div class="header-icon-container">
                </div>
            </div><!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">{{ticke.movieName}}</h3>
                    </a>
                    <!-- <div class="imax-logo"></div> -->
                    <div>{{ticke.theatreName}}</div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date & Time</label>
                        <span>Sun 8 Sept - 10:00PM</span>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>Screen</label>
                        <span>03</span>
                    </div><!--screen-->
                    <div class="info-section">
                        <label>Row</label>
                        <span>F</span>
                    </div><!--row-->
                    <div class="info-section">
                        <label>Seat</label>
                        <span>{{ticke.seatNumber}}</span>
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </div><!--movie-card-->
    </div>
    </body>